include:
  - project: 'default/base'
    ref: 'main'
    file: '.php.gitlab-ci.yml'

variables:
  SKIP_PHPUNIT: 'true'

build:
  extends: .base_build

docker:
  extends: .base_docker
  needs: ["build"]
  variables:
    IMAGE_NAME: "fisrv-magento2"
    IMAGE_FILE: "docker/Dockerfile"
