parameters:
  level: 1
  phpVersion: 80100
  paths:
    - Block
    - Controller
    - Logger
    - Model
  excludePaths:
    - vendor/*
    - Model/ConfigProvider.php
  scanDirectories:
    - vendor/fiserv-ipg/php-client
  scanFiles:
    - phpstan-stubs.php
  bootstrapFiles:
    - phpstan-bootstrap.php
  ignoreErrors:
    - '#Variable \$response might not be defined\.#'
    - '#Variable \$report might not be defined\.#'
  reportUnmatchedIgnoredErrors: false