parameters:
  level: 1
  phpVersion: 80100
  paths:
    - Block
    - Controller
    - Logger
    - Model
  excludePaths:
    - vendor/*
  scanDirectories:
    - vendor/fiserv-ipg/php-client
  scanFiles:
    - phpstan-stubs.php
  bootstrapFiles:
    - phpstan-bootstrap.php