.mm-block-fisrv {
    background: #F8F8F8 no-repeat 8px;
    border: 1px solid #E5E5E5;
    border-left: 2px solid #EA4C00;
    font-size: 12px;
    color: #303030;
    margin-bottom: 0;
    margin-top: 4rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    background-size: 55px;
}

.mm-block-fisrv table {
    width: 520px !important;
}

.mm-block-fisrv strong {
    font-weight: 600;
    color: #514943;
}

.mm-block-fisrv p {
    font-size: 12px;
    padding: 0 0 0.3em;
}

.mm-block-fisrv tr a {
    color: #6D6761;
    margin-top: 3px;
    display: block;
}

.mm-block-fisrv tr td {
    padding: 5px 0px 0px 0px !important;
    max-width: 85px;
}

.mm-block-fisrv .accordion .form-inline .config td {
    padding: 0.8rem 1.5rem 0 0;
}

.mm-block-fisrv tr .signup a {
    color: #04ADE4;
    font-weight: bold;
}

.mm-block-fisrv .helpbutton {
    padding: 10px 15px;
    width: 100px;
    height: 31px;
    float: right;
}

.mm-block-fisrv .icon1 {
    background: url(../images/icons.png) no-repeat scroll -20px -14px;
    width: 45px;
    height: 25px;
    float: left;
}

.mm-block-fisrv .icon2 {
    background: url(../images/icons.png) no-repeat scroll -30px -70px;
    width: 36px;
    height: 25px;
    float: left;
}

.mm-block-fisrv .icon3 {
    background: url(../images/icons.png) no-repeat scroll -20px -129px;
    width: 43px;
    height: 25px;
    float: left;
}

.mm-logo-fisrv {
    content: url(../images/company-logo.png);
    width: 150px;
}

.circle-status-fisrv {
    background: lightblue;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 0.6rem;
}

.loader-status-fisrv {
    width: 24px;
    height: 24px;
    border: 2px solid gray;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}