<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <fisrv_generic>
                <active>1</active>
                <model>FisrvGeneric</model>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_authorize>1</can_authorize>
                <cctypes>AE,VI,MC,DI,JCB,DN</cctypes>
            </fisrv_generic>
            <fisrv_creditcard>
                <active>1</active>
                <model>FisrvCreditcard</model>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_authorize>1</can_authorize>
                <cctypes>AE,VI,MC,DI,JCB,DN</cctypes>
            </fisrv_creditcard>
            <fisrv_googlepay>
                <active>1</active>
                <model>FisrvGooglepay</model>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_authorize>1</can_authorize>
            </fisrv_googlepay>
            <fisrv_applepay>
                <active>1</active>
                <model>FisrvApplepay</model>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_authorize>1</can_authorize>
            </fisrv_applepay>
        </payment>
        <csp>
            <mode>
                <storefront_checkout_index_index>
                    <report_only>1</report_only>
                </storefront_checkout_index_index>
                <storefront>
                    <report_only>1</report_only>
                </storefront>
                <admin>
                    <report_only>1</report_only>
                </admin>
            </mode>
        </csp>
    </default>
</config>