<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Adapter -->
    <type name="Fiserv\Checkout\Model\Method\GenericMethod">
        <arguments>
            <argument name="valueHandlerPool" xsi:type="object">FisrvValueHandlerPool</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="code" xsi:type="string">fisrv_gateway</argument>
            <argument name="title" xsi:type="string">Fiserv Checkout</argument>
        </arguments>
    </type>
    <virtualType name="FisrvApplepay" type="Fiserv\Checkout\Model\Method\GenericMethod">
        <arguments>
            <argument name="code" xsi:type="string">fisrv_applepay</argument>
            <argument name="title" xsi:type="string">Apple Pay</argument>
        </arguments>
    </virtualType>
    <virtualType name="FisrvCreditcard" type="Fiserv\Checkout\Model\Method\GenericMethod">
        <arguments>
            <argument name="code" xsi:type="string">fisrv_creditcard</argument>
            <argument name="title" xsi:type="string" translate="true">
                Credit / Debit Card
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="FisrvGeneric" type="Fiserv\Checkout\Model\Method\GenericMethod">
        <arguments>
            <argument name="code" xsi:type="string">fisrv_generic</argument>
            <argument name="title" xsi:type="string">Generic Checkout</argument>
        </arguments>
    </virtualType>
    <virtualType name="FisrvGooglepay" type="Fiserv\Checkout\Model\Method\GenericMethod">
        <arguments>
            <argument name="code" xsi:type="string">fisrv_googlepay</argument>
            <argument name="title" xsi:type="string">Google Pay</argument>
        </arguments>
    </virtualType>
    <!-- Value Handler Pool -->
    <virtualType name="FisrvValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">FisrvConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Config Value Handler -->
    <virtualType name="FisrvConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">FisrvGatewayConfig</argument>
        </arguments>
    </virtualType>
    <!-- Config  -->
    <virtualType name="FisrvGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">fisrv_applepay</argument>
        </arguments>
    </virtualType>
</config>