<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- <event name="controller_action_predispatch_cms_index_index"> -->
    <!-- <event name="checkout_onepage_controller_success_action"> -->
    <!-- <event name="sales_order_place_before"> -->
        <!-- <observer name="order_result_observer_after" instance="Fiserv\Checkout\Observer\OrderResultObserver" /> -->
    <!-- </event> -->
</config>