<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config:etc/system_file.xsd">
	<system>
		<section id="payment">
			<group id="fisrv" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Fisrv General Config</label>
				<group id="branding" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Branding</label>
					<frontend_model>Fisrv\Payment\Block\Adminhtml\Render\Header</frontend_model>
				</group>
				<field id="enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<config_path>payment/fisrv_generic/enabled</config_path>
				</field>
				<field id="production" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Production Mode</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<config_path>payment/fisrv_generic/production</config_path>
				</field>
				<field id="apikey" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>API Key</label>
					<config_path>payment/fisrv_generic/apikey</config_path>
				</field>
				<field id="apisecret" translate="label" type="obscure" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>API Secret</label>
					<config_path>payment/fisrv_generic/apisecret</config_path>
				</field>
				<field id="storeid" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Fisrv Store ID</label>
					<config_path>payment/fisrv_generic/storeid</config_path>
				</field>
			</group>
			<include path="Fisrv_Payment::methods.xml"/>
		</section>
	</system>
</config>